@value fontMenu, fontLogo from '../../common/font.module.css';
@value titleSize from '../../common/size.module.css';
@value makerWhite,makerBrown,makerMint,makerOrange,makerGreen,makerpink,makerBlue  from '../../common/colors.module.css';

.about {
    margin: auto;
    max-width: 100%;
    height: 150vh;
    background-color: makerOrange;
    padding-bottom: 3rem;
}

.history {
    margin: auto;
    position: relative;
}

.history_box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.history_box2 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    top: 50vh;
    margin-top: 2rem;
    margin-bottom: 5rem;
    justify-content: space-around;
}

.intro {
    position: relative;
    top: 30px;
    margin: auto;
    height: 20rem;
    max-height: 23rem;
    max-width: 43rem;
    width:43rem;
    margin-top: 4.7rem;
    color: makerBrown;
}



.reason {
    max-width: 80%;
    margin: auto;
}

.bar {
    border-bottom: 2px solid makerBrown;
    width: auto;
    height: 2rem;
    display: flex;
    flex-direction: row;
}

.bar > div {
    margin: auto;
    margin-left: 10px;
    margin-right: 0;
    text-align: center;
    width: 15px;
    height: 15px;
    background-color: makerBrown;
    border: 1px solid makerBrown;
    border-radius: 50%;
}

.certification, .job, .social {
    border: 2px solid makerBrown;
    background-color: makerWhite;
    border-radius: 20px;
    color: makerBrown;
}


.boxTitle {
    padding-left:1.5rem;
    font-family: fontLogo;
}


.history_box > h1 {
    padding-top: 0rem;
    font-size: titleSize;
    font-family: fontMenu;
    color: makerBrown;
    padding-left: 10rem;
    margin-top: 12rem;
}

.job p, .certification p, .social p {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0;
    line-height: 0.8rem;
}




.intro h3 {
    margin-bottom: 0.5rem;
}

.age, .edu {
    line-height: 1.2rem;
    margin: 0.7rem;
}

.intro_box {
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.job p {
    line-height: 1.8rem;
}

.certification p {
    line-height: 1.3rem;
}


