@value makerpink,makerGreen, makerBlue, makerMint, makerBrown, makerOrange, makerWhite from '../../common/colors.module.css';
@value fontLogo, fontMenu, fontHome,fontPoint from '../../common/font.module.css';

.home {
    width: 100vw;
    height: 100vh;
}

.div_container {
    width: 100%;
    height: 100vh;

}

.background {
    position: absolute;
    top: 0px;
    left: 30%;
    width: 70%;
    height: 100vh;
    z-index: -100;
    object-fit: cover;
}

.title {
    position: relative;
    top: 10vh;
    left: -2vw;
    font-size: 1.5rem;
    font-family: fontLogo;
    transform: rotate(-13deg);
    color: makerBrown;
}

.avatar {
    position: absolute;
    top: 35%;
    bottom:0;
    left: 23%;
    margin: 0;
}

.avatarIMG {
    width: 22rem;
}

.intro {
    height: 60vh;
    width: 700px;
    position: relative;
    top: 30%;
    left: 50%;
    white-space: normal;
    word-wrap:break-word;
    color: makerBrown;
}

.intro  h3 {
    font-size: 2rem;
    font-weight: 800;
    margin: 0;
    font-family: fontPoint;
}

.home_cut_container{
    position: absolute;
    top: -3rem;
    right: 10rem;
    width: 20rem;
    transition: all 0.2s ease-in-out;
}

.home_cut {
    position: absolute;
    top: 0rem;
    width: 20rem;
    z-index: 2;
    animation:line_move 0.8s ease-in-out Infinite Alternate;
    -webkit-box-shadow: -10px 0px 13px -7px makerBrown, 10px 0px 13px -7px makerBrown, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px makerBrown, 10px 0px 13px -7px makerBrown, 5px 5px 15px 5px rgba(0,0,0,0);
}

.home_cut_background {
    position: absolute;
    height: 9.7rem;
    width: 20.5rem;
    background-color: makerBrown;
    animation:line_move 0.8s ease-in-out Infinite Alternate;
    
}

.first_letter {
    position: absolute;
    top: -40px;
    /* transform: rotate(-8deg); */
    left: -0.6rem;
    z-index: 3;
    color: makerOrange;
    text-shadow: #302f2f 1px 1px 0;
    font-size: 1.5rem;
    font-family: fontLogo;
    -webkit-text-stroke-width: 0.03rem;
    animation:scale 0.8s ease-in-out Infinite Alternate;
}

.second_letter {
    position: absolute;
    right: -5rem;
    z-index: 3;
    color: makerOrange;
    text-shadow: #302f2f 1px 1px 0;
    font-size: 1.5rem;
    font-family: fontLogo;
    -webkit-text-stroke-width: 0.03rem;
    animation:scale-2 0.8s ease-in-out Infinite Alternate;
}


/*오른쪽 contents영역*/
.contents {
    position: relative;
    top: -10%;
    left: -10%;
    display: flex;
    flex-direction: column;
    height: 35rem;
    justify-content: space-around;
    width: 50rem;
}


.contents_box {
    height: 8rem;
    width: 100%;
}

.contents_box:nth-child(2n) {
    text-align: end;
}

.contents_box:nth-child(2n) > div {
    right: 200px;
}

.contents_box:nth-child(2n) > p {
    position: relative;
    right: 15%;
}


.point  {
    width: 60%;
    position: absolute;
    font-size: 4rem;
    font-family: fontMenu;
    color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    animation: alternate point ease-in-out infinite 1s;
    -webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: makerWhite;
    text-shadow:  #d7f2e776 2px 2px 4px;
    transition: all 0.2s ease-in-out;
}



.text {
    position: relative;
    top: 1rem;
    font-size: 2.5rem;
    font-family: 'NanumSquareExtraBold';
}

.point:hover {
    text-shadow:  makerOrange 2px 2px 4px;
}


@keyframes line_move {
    0% {
        top: 0px;
    }
    100% {
        top: -8px;
    }
}

@keyframes scale {
    0% {
        top: -32px;
    }
    100% {
        top: -40px;
    }
}

@keyframes scale-2 {
    0% {
        top:84px;
    }
    100% {
        top:76px;
        text-shadow: #302f2f 1px 1px 0;
    }
}

@keyframes point {
    0% {

    }
    100% {
        transform: scale(1.01);
    }
}