@value makerpink, makerMint, makerBrown, makerOrange from '../../common/colors.module.css';
@value fontLogo from '../../common/font.module.css';

.home {
    width: 100vw;
    height: 100vh;
}

.background {
    position: absolute;
    top: 0;
    left: 30%;
    width: 70%;
    height: 105%;
    z-index: -100;
    object-fit: cover;
}

.avatar {
    position: absolute;
    top: 28vh;
    left: 20%;
    margin: 0;
}

.intro {
    height: 60vh;
    width: 700px;
    position: relative;
    top: 200px;
    left: 50%;
    white-space: normal;
    word-wrap:break-word;
    color: makerBrown;
}

.intro > h3 {
    font-size: 2rem;
}

.title {
    font-size: 1.5rem;
    font-family: fontLogo;
    transform: rotate(-8deg);
    padding-bottom: 2rem;
}

.button {
    background-color: transparent;
    cursor: pointer;
    border: 2px solid makerOrange;
    color: makerOrange;
    outline: none;
}

