.wrapper {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) perspective(600px) rotateY(20deg) rotateX(10deg);
transform-style: preserve-3d;
width: 200px;
height: 300px;
border-radius: 10px; 
}

.wrapper .shape {
    border-radius: 10px;
    width: 200px;
    height: 300px;
}

.mouse_avatar {
    position: relative;
    top:0%;
    left: 30%;
    width: 8rem;
}

.wrapper p {
    text-align: center; }


#heart {
    top: 35%;
    left: 35%;  
    position: absolute;
    width: 200px;
    height: 180px;
      }
#heart:before,
#heart:after {
        position: absolute;
        content: "";
        left: 100px;
        top: 0;
        width: 100px;
        height: 160px;
        background: #cbecf2;
        border-radius: 100px 100px 0 0;
        transform: rotate(-45deg);
        transform-origin: 0 100%;
      }
#heart:after {
        left: 0;
        transform: rotate(45deg);
        transform-origin: 100% 100%;
}