@value fontMenu, fontLogo from '../../common/font.module.css';
@value titleSize, Radius from '../../common/size.module.css';
@value makerWhite,makerLightGrey,makerBrown,makerMint,makerOrange,makerGreen,makerpink,makerBlue  from '../../common/colors.module.css';

.work {
    background-color: makerpink;
    color: makerBrown;
    text-align: center;
    height: 110vh;
}

.title {
    font-family: fontMenu;
    font-size: titleSize;
    margin: 0;
    padding-top: 10rem;
    text-align: center;
}

.subTitle {
    font-family: fontLogo;
    font-size: 1.5rem;
    position: relative;
    top: 170px;
    left: -150px;
    transform: rotate(-8deg);
}


.slider {
    position: relative;
    padding-top: 2rem;
    margin: auto;
    left: -20%;
    width: 50%;

}